<div class="form-inline">
    <div class="employerHeader employerFont  Post-Padding">
        <div class="span4">
            <h6 style="font-size: medium">Version System Pvt.Ltd.</h6>
        </div>
        <div class="span5">
            <h6 style="font-size: medium">Personal Messages</h6>
        </div>
        <h6 style="font-size: medium">Rajkot,Gujarat</h6>
    </div>
</div>